{
  "type": "quipuswap",
  "tokens": [
    {
      "contractAddress": "KT1K9gCRgaLRFKTErYt1wVxA3Frb9FjasjTV",
      "tokenId": 0,
      "name": "kUSD",
      "decimals": 18,
      "pairAddress": "KT1CiSKXR68qYSxnbzjwvfeMCRburaSDonT2"
    }
  ],
  "mainnet": true
}
